@page "/"
@using SpotifyHistory.Data
@using SpotifyHistory.Helpers
@using Microsoft.AspNetCore.Http;
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>
<div class="content px-4">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <button type="button" class="btn btn-outline-dark btn-lg" @onclick="GoToURL">Login</button>
    </RadzenStack>
</div>

@code {

    private void GoToURL()
    {
        NavManager.NavigateTo(SpotifyAuth.authorizationLinkBuilder(), true);
    }
}