@page "/"
@using SpotifyHistory.Data
@using SpotifyHistory.Helpers
@using Microsoft.AspNetCore.Http;
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <button type="button" class="btn btn-outline-light btn-lg" @onclick="GoToURL">Login</button>
</RadzenStack>

@code {

    private void GoToURL()
    {
        NavManager.NavigateTo(SpotifyAuth.authorizationLinkBuilder(), true);
    }
}