@inherits LayoutComponentBase

<PageTitle>SpotifySongHistory</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <RadzenText style="font-family: fantasy; flex-grow: 1; justify-content: center; text-align: center; align-content: center;" TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH6">Song History</RadzenText>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" style="align-content: end">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

